# NetBeans specific #
nbproject/private/
nbproject/private/*
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/FractalImpl/nbproject/private/
/MandelbrotApi/nbproject/private/
/MandelbrotImpl/nbproject/private/
/FractalApi/nbproject/private/
/FractalFormatterAsciiImpl/nbproject/private/
/FractalFormatterApi/nbproject/private/
/MandelbrotTest/nbproject/private/
/FractalGenericApi/nbproject/private/
/FractalGenericImpl/nbproject/private/
/FractalsFractalGenericApi/nbproject/private/
/FractalsFractalGenericImpl/nbproject/private/
/FractalsFractalMandelbrotApi/nbproject/private/
/FractalsFractalMandelbrotImpl/nbproject/private/
/FractalsRendererApi/nbproject/private/
/FractalsRendererGenericApi/nbproject/private/
/FractalsRendererAsciiImpl/nbproject/private/
/FractalsTest/nbproject/private/